/*HOME CSS !!!!*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo{
 width: 20%;
 height: 80px;
margin-left: 40%;
margin-top: 5px;
}
 
.clr{
  background-color: black;
  padding-bottom: 100px;
}

.clr2{
  background-color: black;
  padding-bottom: 70px;
}

nav{
 
 font-family: sans-serif;
}

nav ul {
display: flex;
justify-content: center;
}
  
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  
}
  
nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.maini{
  width: 100%;
  
}
  
nav ul li a:hover{
color: gold;
}

#btn{

  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%,-50%);
 
}

.text{
  color: white;
  position: absolute;
  right: 60%;
  top: 40%;
  transform: translate(-50%,-50%);
  letter-spacing: 3px;
}
/*SERVICES*/
.ser-listings {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.ser-listings h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.ser-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ser-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.ser-card h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.ser-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}
#dev{
  font-size: 70px;
 margin-top: 17%;
}

/* CHECK BTN */

  .checkbtn{
    font-size:30px ;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check{
    display: none;
  }

  @media (max-width: 952px){
    nav ul li a{
      font-size: 16px;

    }
  }
  @media (max-width: 858px){
    footer .footer-content2{
      display: none;
    }
    .text{
      display: none;
    }
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 150px;
      left: -100%;
      text-align: center;
      transition: all .3s;
      background-color: black;
      flex-direction: column;
    }
    nav ul li{
      display: block;
    }
    nav ul li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .logo{
      width: 50%;
      height: 40%;
      margin: 0 100px;
    }
   
    #icn{
      display: none;
    }
    .text{
      color: white;
      position: absolute;
      right:-25%;
      top: 25%;
      transform: translate(-50%,-50%);
      letter-spacing: 3px;
    }
   .car-cards{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .ser-cards{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .car-listings {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}
  }
  /*AMG SECTION*/

  .car-listings {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.car-listings h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.car-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.car-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.car-card img {
    width: 100%;
    height: auto;
}

.car-card h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.car-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}
.footer-content2{
  display: flex;
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: gray;
  top: 250%;
  justify-content: center;
}
.footer-content2 p{
  color: white;
}
.social-links2 a{
text-decoration: none;
color: gold;
}
.ser-card{
  background-color: #f1c778;
}
.ser-card:hover{
  background-color: white;
  cursor: pointer;
  scale: 130%;
  }

/* About Us Section */
#about-us {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerabout {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
}

.about-content {
  max-width: 800px;
}

.about-content p {
  font-size: 1.1rem;
  color:#777;
  line-height: 1.7;
}


/* About Image */
.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (min-width: 768px) {
  #about-us {
      flex-direction: row;
      justify-content: space-between;
  }

  .about-content {
      max-width: 600px;
      margin-right: 2rem;
  }

  .about-image {
      max-width: 500px;
      margin-right: 25px;
  }
  .footer-content{
    display: flex;
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: gray;
    top: 140%;
    justify-content: center;
  }
}
  
  @media screen and (max-width: 600px){
    .footer-content{
        display: none;
    }
      .containerabout{
        margin: 20px;
      }
  }

  @media screen and (max-width: 1669px){
    .containerabout {
      max-width: 1700px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 8%;
    }

    .footer-content{
     
      top: 110%;
     
    }
  }
/* CONTACT CSS !!!*/

#cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10% 20%;
}
#contact{
  background-color: rgb(73, 73, 73);
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  
}
#cnt #contact input,textarea{
  border: none;
  outline: none;
  padding: 5px 10px;
  flex-basis: 200px;
  flex-grow: 1;
}

.s1{
  display: flex;
  flex-grow: 1;
  border-radius: 7px;
  background-color: rgb(66, 164, 255);
}
.s1:hover{
  background-color: rgba(48, 137, 253, 0.541);
}

input:focus{
  background-color: lightgreen;
}

@media screen and (min-width: 980px){
  #contact{
    display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  flex-wrap: nowrap;
  flex-grow: 0;
  }
}

@media screen and (max-width: 700px){
  #contact{
    display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin: 90px 0px;
  }
  .clr2{
    padding-bottom: 110px;
  }
  #cnt #contact {
    height: 70%;
  }
}




/*PRODUCT SECTION !!!*/
.cars{
  width: 100%;
  height:500px ;
  padding-left: 10%;
}
#card1{
  width: 350px;
  height: 400px;
  background-color: #ffffff;
  margin: 20px;
  border: solid 2px #615e5e50;
  border-radius: 8px;
  display: inline-block;
}

.sl55{
  width: 130%;
  padding-right: 60px;
}

#card1 p{
  font-weight:16px ;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

#card1 button{
  margin: 10px 0 0 32px;
}
#card1:hover{
  transition: 0.3ms;
  scale: 105%;
}

@media screen and (max-width: 600px){
  
  .cars{
    width: 50%;
    height:200px ;
    margin-left: 1rem;
  }
  .sl55{
    width: 100%;
    padding-right: 0px;
  }
  .cars{
    padding-left: 0%;
}
}


@media screen and (max-width: 1326px){
  .footer-content3{
    top: 330%;
  }
  
  }
  